.backdetail-page{

}
.backdetail-page .container{
    margin-top: .15rem;
}
.backdetail-page .container .m-header{
    border-radius: .05rem .05rem 0 0;
    background: #5C94EF;
    height: .44rem;
    line-height: .44rem;
    color: #fff;
    font-size: .16rem;
    text-align: center; 
    /* font-weight: bold; */
}
.backdetail-page .container ul{
    background: rgba(92,148,239,0.1);
    padding: 0 .09rem;
}
.backdetail-page .container li{
    border-bottom: 1px dashed #5C94EF;
    height: .36rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .14rem;
}
.backdetail-page .container li .label{
    color: #333333;
}
.backdetail-page .container li .content{
    color: #666666;
}
.backdetail-page .container li:last-child{
    border: 0;
}