

*{
    margin:0;
    padding: 0;
    font-family:  PingFangSC-Regular;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
  }
  a:focus,
  input:focus,
  button:focus,
  textarea:focus,
  [class*='van-']:focus {
    outline: none;
  }



html,body{
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    
}
/*375px布局*/
html{font-size: 100px;}
body{font-size: 0.14rem;/*实际相当于14px*/}
ul,li{
    list-style: none;
}
input,button,input:focus,button:focus{
    outline: none;
    border:none;
    -webkit-appearance: none;
 
}
button{
    font-weight: bold;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    
}


.border-but{
    box-sizing: border-box;
    border:.02rem solid #FFE000;
    background:rgba(255,224,0,0.2);
    font-size: .14rem;
}
.back-but{
    background: #FFE000;
    font-size: .14rem;
    color: #333333;
    border:0;
    font-weight: bold;
    border-radius: .05rem;
}
input{
    background: transparent;
    border: 0;
    line-height: .4rem;
    height: .4rem;
}

.page{
    padding:0 .15rem
}
.no-more{
    background: #f6f6f6;
    color: #333333;
    font-size: .14rem;
    padding: .1rem 0
}
