body{
    height: 100vh
}
.van-tabs__wrap{
    position:relative !important;
}
.van-tabs--line .van-tabs__wrap{
    height:auto !important
}
.van-tabs--line{
    padding-top: 0 !important;
}
.van-tabs__nav--line{
    padding-bottom: 0 !important;
}
.history-page{
    background: #f6f6f6;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.search-top{
    padding: 0 .15rem 0;
    background:  #f6f6f6;
}
.search-top-fixed{
    padding: .1rem .15rem;
    background:  #f6f6f6;
    left: 0;
    right: 0;
    z-index: 100;
}
.search-top-fixed .search-box{
    display: flex;
    flex-direction: row;
    background: #fff;
    height: .32rem;
    line-height: .32rem;
    align-items: center;
    padding: 0 .1rem;
    border-radius: .05rem;
  
}
.search-top-fixed .search-box .van-cell{
    padding: 0;
}

.search-top .search-box input{
    flex: 1;
    height: .32rem;
    line-height: .32rem;
    font-size: .14rem;
}
.search-top .search-box input::placeholder{
    color: #BDBDBD;
    font-size: .14rem;
}
.search-top .search-box .icon{
    height: .2rem;
    width: .2rem;
    /* margin-left: .37rem; */
}
.search-tip{
    color:#BDBDBD;
    font-size: .12rem;
}
.search-tip-grop{
}

.search-tip-grop .tip{
    background: #dcdcdc;
    border-radius: .05rem;
    height: .24rem;
    line-height: .24rem;
    text-align: center;
    padding: 0 .1rem;
    /* width: .7rem; */
    display: inline-block;
    font-size: .12rem;
    color:#333333;
    margin-right: .1rem;
    margin-top: .1rem;
}
.search-tip-grop .tip.selected{
    background:#ea6f48;
    color:#fff;
}
.search-tip-grop .tip:last-child{
    margin-right:0;
}
.list-container{
     background: #f6f6f6;
    position: relative;
    flex: 1;
    /* padding: 0 .15rem; */
}

.list-container .item{
    margin-bottom: .1rem;
    background: #fff;
}
.list-container .item.type1 .item-header{
    background: rgba(255,224,0,0.1);
    align-items: center;
}
.list-container .item.type2 .item-header{
    background: rgba(92,148,239,0.1);
}
.list-container .item.type2 .item-header2{
    background: rgba(255,224,0,0.1);
}
.list-container .item-header{
 font-size: .14rem;
 color: #333333;
 padding:.15rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 /* padding: 0 .15rem; */
}
.list-container .item-header .icon{
    width: .09rem;
    height: .12rem;
   
}
.list-container .item-body{
    padding: 0 .15rem;
    padding-bottom: .1rem;
}
.list-container .item-body li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:.1rem;
    font-size: .13rem;
    line-height: 1;
}
.list-container .item-body li .label{
    color: #666666;
    white-space: nowrap;
    padding-right: .2rem;
}
.list-container .item-body li .content{
    color: #333;
    word-break: break-all;
}
.footer-place{
    height: .49rem;
}
.search-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid #C1C1C1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: .49rem;
}
.search-footer .m-button{
    flex: 1;
   
    color: #333;
    font-weight: bold;
    height: .49rem;
    line-height: 1;
    position: relative;
    background:transparent;
}
.search-footer .m-button button,.search-footer .m-button .button{
    font-size: .14rem;
    position: relative;
}
.search-footer .split-line{
    /* position: absolute; */
    width: .01rem;
    flex: 0 0 .01rem;
    background: #BDBDBD;;
    right: 0;
    height: .31rem;
    top: 0;
    z-index: 2;
}
.m-button button,.m-button .button{
    width: 100%;
    text-align: center;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.van-tab{
    padding: 0;
}
.vip-tip{
    background: url(../img/pic_qipao@3x.png) center no-repeat;
    position: fixed;
    bottom: .52rem;
    right: .13rem;
    height: .28rem;
    min-width: 1rem;
    background-size: cover;
    font-size: .12rem;
    color: #fff;
    text-align: center;
    line-height: .28rem;
}
.sort-box{
    display: flex;
    flex-direction: row;
    margin-bottom: .1rem;
    color: rgba(92,148,239);
}
.sort-box .tip{
    margin-right: .1rem;
    font-size: .14rem;

}
